/** @format */

nav {
  padding: 0.8rem 0;
  position: relative;
  top: 0;
  z-index: 1000;
  background: var(--white);
  width: 100%;
}

nav.scrolled {
  position: fixed;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  transition: all ease-in 0.5s;
}

nav.scrolled .navbar > a {
  font-size: 1.5rem;
  transition: all ease-in 0.5s;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__menu {
  display: none;
  background: transparent;
  border: 0;
}

.navbar__menu svg {
  height: var(--icon-size-xl);
  width: var(--icon-size-xl);
}

.navbar-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar-header > a {
  margin: 0 auto;
}
.navbar-header > a span {
  font-family: var(--literata);
  font-size: clamp(1.5rem, 1.5vw + 0.5rem, 2rem);
  /* font-weight: bold; */
  line-height: 1;
  margin-top: 5px;
}

.navbar-header > a img {
  height: clamp(50px, 5vw, 80px);
  transition: height 0.2s ease-out;
  display: block;
}

/* Updated to target the correct class name */
.navbar__list {
  display: flex;
  /* flex-wrap: wrap; */
  gap: var(--spacing-xl);
  /* max-width: 50%;
  margin-left: auto;
  padding: 0;
  text-align: right;
  justify-content: flex-end; */
  align-items: center;
  list-style: none;
}

.navbar__list li a {
  text-align: right;
  font-size: var(--font-size-sm);
  text-transform: capitalize;
  cursor: pointer;
  position: relative;
  display: block;
}

.navbar__list li a:hover,
.navbar__list li a.active {
  color: var(--secondary-color);
}

.navbar__list li a::after {
  content: "";
  position: absolute;
  bottom: calc(-1 * var(--spacing-lg));
  left: 50%;
  transform: translateX(-50%);
  height: 5px;
  width: 5px;
  background: var(--secondary-color);
  border-radius: 25px;
  visibility: hidden;
}

.navbar__list li a:hover::after,
.navbar__list li a.active::after {
  transition: all ease-in 0.2s;
  visibility: visible;
  bottom: calc(-1 * var(--spacing-sm));
}

@media (max-width: 860px) {
  .navbar__menu {
    display: block;
  }

  .navbar__list {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    padding: var(--spacing-lg);
    width: 50%;
    transition: left ease-in 0.5s;
  }

  .navbar__list.toggled {
    left: 0;
  }

  .navbar__btn {
    display: none;
  }
}
