.breadcrumb {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)),
    url("@/assets/images/home-banner3.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  min-height: 15vh;
  /* width: 100%; */
}

.breadcrumb ol {
  /* display: flex;
  flex-wrap: wrap;
  justify-self: center; */
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 0.5rem;
}

.breadcrumb li::after {
  content: "/";
  margin: 0 0.5rem;
  color: var(--white);
}

.breadcrumb li:last-child::after {
  content: "";
  margin: 0;
}

.breadcrumb a {
  text-decoration: none;
  color: #0077cc;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb span {
  color: var(--white);
  font-size: 26px;
  font-family: var(--literata);
}
