.header-top {
  padding-top: var(--spacing-md);
  padding-bottom: var(--spacing-md);
  background: linear-gradient(
    110deg,
    rgba(0, 0, 0, 0.9) 60%,
    var(--gray200) 60%
  );
}

.header-top > div {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}

.header-top > div span:first-child {
  color: var(--white);
}

@media (max-width: 860px) {
  .header-top {
    display: none;
  }
}
