.home-section {
  position: relative;
}

.home-section__gradient {
  /* background: linear-gradient(110deg, #000 62%, transparent 60%); */
  background: linear-gradient(110deg, rgba(0, 0, 0, 0.9) 62%, transparent 60%);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.home-section__banner {
  border-radius: var(--br-main);
  background-image: url("@/assets/images/home-banner.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 30vh;
  width: 100%;
}

.home-section__main {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-xl);
  text-align: center;
}

.home-section__main > p {
  margin-top: 1rem;
}
.home-section__main-message {
  width: 100ch;
  margin-bottom: 1rem;
}

.home-section__main h1 {
  font-size: clamp(2rem, 1vw + 1rem, 6px);
}

/* .home-section__main > div h1 mark {
  color: var(--primary-color);
  background: transparent;
  font-family: var(--literata);
} */

@media (max-width: 1000px) {
  .home-section__main-message {
    width: 100%;
  }
}
@media (max-width: 1500px) {
  .home-section__banner {
    border-radius: 0;
    /* margin-left: 1rem;
    margin-right: 1rem; */
    max-width: 100%;
  }
}
