.home-section {
  position: relative;
}

.home-section__gradient {
  /* background: linear-gradient(110deg, #000 62%, transparent 60%); */
  background: linear-gradient(110deg, rgba(0, 0, 0, 0.9) 62%, transparent 60%);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.home-section__banner {
  border-radius: 50px;
  /* border-radius: var(--br-main); */
  border-top-left-radius: 0;
  background: url("../../../src/assets/images/hero-image.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 50vh;
}

@media (max-width: 48rem) {
  .home-section__gradient {
    display: none;
  }
}
